body {
    margin: 0;
    padding: 0;
    display: flex;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(32, 32, 64, 0.90), 
      rgba(32, 32, 64, 0.90)
    ),
    /* bottom, image */
    url(img/bg.png);
    background-size:  ;
    background-repeat: repeat;
    font-family: 'BioRhyme', serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: white;
    margin: 0px auto 30px auto;
    padding: 0;
    font-size: 5rem;
    letter-spacing: -6px;
}

button {
    background-color: #ff6363;
    color: white;
    border: none;
    padding: 10px 50px;
    margin: 0px 10px;
    font-size: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 15px;
    font-family: 'BioRhyme', serif;
    letter-spacing: -11px;
    box-shadow: 2px 2px 20px #ff6363;
    -webkit-appearance: none;
    -moz-appearance: none;
}

p, a, a:hover {
    margin: 50px auto;
    padding: 0;
    color: white;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 1.5rem;
        letter-spacing: -2px;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    button {
        margin: 10px auto;
        font-size: 2rem;
    }
  }